extends ./layout/common

block home    
    //- link(rel="stylesheet" href="/styles/sidebar.css" type="text/css")            
    //- aside.sidebar            
    //-     ul.functions-list
    //-         li.item                
    //-             a(href='/falculty/data')
    //-                 | Falculties
    //-         li.item
    //-             a(href='/major/data')
    //-                 | Majors
    //-         li.item
    //-             a(href='/subject/data')
    //-                 | Subjects
    //-         li.items
    //-             a(href='/student/data')
    //-                 | Students
    //-         li.item
    //-             a(href='/class/data')
    //-                 | Classes
    //-         li.item
    //-             a(href='/course/data')
    //-                 | Courses
    //-         li.item
    //-             a(href='/scoreRecord/data')
    //-                 | Score Records
