extends ./layout/common

block home
    script(src="scripts/img-slider.js")
    link(rel="stylesheet" href="/styles/home.css" type="text/css")        
    main
        .wrapper
            .introduction
                .db-img
                    i.fas.fa-database(title="MySql")
                .intro
                    h1 CT106H - Database Management System                                                           
                    p(style="font-size: 250%; font-style: italic") Student management system
                    p                        
                        img(src="/media/github-brands.svg", alt="" style="width: 40px;height: 40px;") 
                        a(style='color: black', href='https://github.com/nmtoan251998/dbms-project' target="_blank") github.com/nmtoan251998/dbms-project                            
                            
            .break-title
                h1 Team members:
            .profile-cards
                .card
                    .ava.ava-toan
                    .function
                        strong Front-end
                    .profile
                        p
                            strong Student name: 
                            span(style='font-style: italic') Nguyễn Minh Toàn
                        p
                            strong Student code: 
                            span(style='font-style: italic') B1605369
                        p
                            strong Student class: 
                            span(style='font-style: italic') DI16V7F1
                .card
                    .ava.ava-ngoc
                    .function
                        strong Back-end
                    .profile
                        p
                            strong Student name: 
                            span(style='font-style: italic') Nguyễn Thái Ngọc
                        p
                            strong Student code: 
                            span(style='font-style: italic') B1605404
                        p
                            strong Student class: 
                            span(style='font-style: italic') DI16V7F2
            .break-title
                h1 Techniques used:
            .tool-cards
                .card
                    .function
                        strong Front-end
                    .tool-used.card-fe
                        p
                            strong HTML
                        p
                            strong CSS
                        p
                            strong JavaScript
                        p
                            strong Pug template
                .card
                    .function
                        strong Database
                    .tool-used.card-db
                        p
                            strong MySQL
                .card
                    .function
                        strong Back-end
                    .tool-used.card-be
                        p
                            strong NodeJs
                        p
                            strong ExpressJs
            .break-title
                h1 Program flow:
            .program-flow
                i.fas.fa-arrow-left.left
                .img-slider
                    .img.img1
                    .img.img2
                    .img.img3
                    .img.img4
                    .img.img5
                i.fas.fa-arrow-right.right
        
