extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/create-forms.css") 
    link(rel="stylesheet", href="/styles/faculty.css") 
    form.form-create(method="post",action="/falculty/data-modify/"+data.id)
        fieldset
            legend New faculty information
            table.table-create
                tr
                    td
                        label(for="falid") Id: 
                    td
                        input(type="text" name="falid" placeholder="Faculty identification")
                tr
                    td
                        label(for="falname") Name: 
                    td
                        input(type="text" name="falname" placeholder="Faculty name")
                tr
                    td 
                        label(for="dean") Dean: 
                    td
                        input(type="text" name="dean" placeholder="Dean name")
            button.btn(type="submit") Save
