extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/major-create.css")
    .container
        form.form(method="get")
            legend Major Information
            table
                tr
                    td
                        label(for="majorid") Major's Id: 
                    td
                        input(type="text", name="majorid")
                tr
                    td
                        label(for="majorname") Major's Name: 
                    td
                        input(type="text", name="majorname")
                tr
                    td 
                        label(for="falid") Faculty Id: 
                    td
                        input(type="text", name="falid")
            button(type="submit") Submit