extends ../layout/common

block main
    link(rel="stylesheet", href="/styles/create-forms.css")    
    link(rel="stylesheet", href="/styles/major.css")    
    form.form-create(method="post",action="/major/data-modify/"+data.id)
        fieldset
            legend New major information
            table.table-create
                tr
                    td
                        label(for="majorid") Id: 
                    td
                        input(type="text" name="majorid" value=data.id)
                tr
                    td
                        label(for="falid") Faculty Id: 
                    td
                        input(type="text" name="falid" value=data.falid)
                tr
                    td 
                        label(for="majorname") Major Name: 
                    td
                        input(type="text" name="majorname" value=data.majorname)
            button.btn.save-btn(type="submit") Save
            a.btn(href="/major/data") Back
