.form-create{   
    position: absolute;     
    z-index: 10;
    top: 30px;
    left: 30%;  
}
.invisible{
    display: none;
}

.form-create fieldset{
    position: relative;
    background-color: white;    
    /* height: 280px;
    width: 400px; */
    box-shadow: 3px 5px 10px 1px rgb(85, 83, 83);
}
    .form-create legend{        
        font-size: 150%;                
        font-weight: bolder;
        /* font-style: italic; */
        padding-bottom: 6px;
    }
    .form-create .table-create{
        width: 100%;
    }
        .form-create .table-create td{
            font-size: 120%;            
        }
            .form-create .table-create label{
                padding-left: 20px;
            }
            .form-create .table-create input{
                border: 2px solid gainsboro;
                border-radius: 5px;            
                padding: .8rem 0;
                width: 90%;
                overflow: hidden;
                box-sizing: border-box;
                margin: .6em 0;
            }
            .form-create .table-create input:focus{            
                box-shadow: 0px 0px 3px 1.5px #97C0F9;            
                border: 2px solid #97C0F9;
                outline: none;
                font-style: italic;
            }
                .form-create .table-create input[placeholder]{
                    padding-left: 1em;
                }
    .form-create .btn{
        position: absolute;
        bottom: 5px;        
        font-size: 120%;
        padding: .6rem 1.3rem;
        border: 1px solid white;
        background: #607897;
        color: #f6f6f6;
        cursor: pointer;
        border-radius: 6px;
    }
        .form-create .save-btn{
            right: 5px;            
        }
        .form-create .close-btn{
            right: 5.5rem;
        }
    .form-create .btn:hover{    
        color: #607897;    
        border: 1px solid #607897;
        background: white;
    }