body{
    background-color:#ddd;
}
.container{
    margin:5% 20% 5%;
    height:50vh;
}
    .form{
        height:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 1px solid gray;
        padding:1rem 1rem 2rem;
        font-size:23px;
    }
        .form legend{
            font-size:40px;
            font-weight: bold;
            padding:1rem;
            margin-bottom:1.5rem;
        }
        .form input{
            width:300px;
            height:30px;
            font-size:23px;
            border-radius:10px;
            outline:none;
        }

        button{
            width:300px;
            min-height: 20px;
            background-color:darkcyan;
            color:white;
            border:dodgerblue;
            padding:.5rem;
            margin:1rem;
        }