.nav{    
    background: rgb(159, 199, 243); 
    display: flex; 
    height: 8vh;    
    position: relative;
    z-index: 2;  
}
.nav a{
    padding: .8rem 1rem; /*make it become the button */
    color: #ffffff;             
}
    .nav .logo{                        
        cursor: pointer;              
        width: 12vw;     
        margin-right: 1rem;                 
    }
        .nav .logo .img{                                    
            height: 130%;    
            width: 100%;                                    
            border: none; 
            margin-top: -.5rem;                                     
        }
        .nav .nav-menu{
            padding: 0;
            margin: 0;
        }
        .nav .nav-menu .nav-item{                         
            display: inline-block;
            padding: .5rem 1.5rem;
            font-size: 120%;
            position: relative;
            border-top: 5px solid rgb(159, 199, 243);            
            box-sizing: content-box;
        }
            .nav .nav-menu .nav-item:hover{                    
                transition: 700ms;
                border-top: 5px solid white;
            }                                    