/* Change follow specific rows in fieldset 
-- Change height + width in fieldset
*/
.form-create fieldset{
    height: 280px;
    width: 400px;
    /* position: relative;
    background-color: white; */    
    /* box-shadow: 3px 5px 10px 1px rgb(85, 83, 83); */
}

.table .thead th:nth-child(1){width: 17.5%}
.table .thead th:nth-child(2){width: 17.5%}
.table .thead th:nth-child(3){width: 55%}
.table .thead th:nth-child(4){width: 10%}

