extends ../layout/common

block main    
    link(rel="stylesheet", href="/styles/functions.css")
    .functions
        .list
            button.btn Total students in each faculty
            button.btn Avarage point
            button.btn Pick student for scholarship
            button.btn The most failed subject
            button.btn Full student information
            button.btn The most - least scholarship
            button.btn Bad students
        .show-board
            #total-stu
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .ouput
                    input(type="text", name="",  "")
            #avg-point
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        input(type="text", name="")
                        input(type="text", name="")
                        button(type="submit")
                .output
                    input(type="text", name="",  "")
            #stu-scho
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output
                    input(type="text", name="",)
            #failed-subject
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output
                    input(type="text", name="")
            #full-stu-info
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output
                    input(type="text", name="",  )
                    input(type="text", name="",  )
                    input(type="text", name="",  )
            #most-least-scho
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output
            #bad-stu
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output                    
                    input(type="text", name="")





