extends ../layout/common

block main    
    link(rel="stylesheet", href="/styles/functions.css")
    .functions
        .list
            .btn
                button Total students in each faculty
            .btn
                button Avarage point
            .btn
                button Pick student for scholarship
            .btn
                button The most failed subject
            .btn
                button Full student information
            .btn
                button The most - least scholarship
            .btn
                button Bad students
        .show-board
            #total-stu
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .ouput
                    input(type="text", name="",  "")
            #avg-point
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        input(type="text", name="")
                        input(type="text", name="")
                        button(type="submit")
                .output
                    input(type="text", name="",  "")
            #stu-scho
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output
                    input(type="text", name="",)
            #failed-subject
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output
                    input(type="text", name="")
            #full-stu-info
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output
                    input(type="text", name="",  )
                    input(type="text", name="",  )
                    input(type="text", name="",  )
            #most-least-scho
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output
            #bad-stu
                .input
                    form(action="", method="post")
                        input(type="text", name="")
                        button(type="submit")
                .output                    
                    input(type="text", name="")





