doctype html
head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="UTF-8")
    title MySql Project    
    link(rel="stylesheet" href="/styles/nav.css" type="text/css")
    link(rel="preload" as="style" onload="this.rel='stylesheet'"  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous")                        
body    
    header
        nav.nav
            .logo                                                
                img(src='/media/mysql-logo.jpg', alt='logo', title="MySql")
            ul.nav-menu
                li.nav-item
                    a.home(href='/') Home
                li.nav-item
                    a(href='/falculty/data') Faculty                    
                li.nav-item
                    a(href='/major/data') Major                    
                li.nav-item
                    a(href='/subject/data') Subject                    
                li.nav-item
                    a(href='/student/data') Student                    
                li.nav-item
                    a(href='/class/data') Class                    
                li.nav-item
                    a(href='/course/data') Course                    
                li.nav-item
                    a(href='/scoreRecord/data') Score record                    
    main
        block home    
        block main

