doctype html
head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="UTF-8")
    title MySql Project     
    link(rel="stylesheet" href="/styles/main.css" type="text/css")                           
body       
    block index              
        main
            link(rel="stylesheet" href="/styles/sidebar.css" type="text/css")                  
            .options
                a(href="/")
                    <i class="fas fa-home"></i>
                <i class="fas fa-list-ul"></i>            
            aside.sidebar            
                ul.functions-list
                    li.closebtn
                        <i class="far fa-times-circle"></i>
                    li.item                
                        a(href='/home')
                            | Home
                    li.item                
                        a(href='/functions')
                            | Functions
                    li.item                
                        a(href='/falculty/data')
                            | Falculties
                    li.item
                        a(href='/major/data')
                            | Majors
                    li.item
                        a(href='/subject/data')
                            | Subjects
                    li.items
                        a(href='/student/data')
                            | Students
                    li.item
                        a(href='/class/data')
                            | Classes
                    li.item
                        a(href='/course/data')
                            | Courses
                    li.item
                        a(href='/scoreRecord/data')
                            | Scores                      
            block home  
            block main        
    link(rel="preload" as="style" onload="this.rel='stylesheet'"  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous")                        
